#!/bin/sh
# Sample x13 start script for SMOS
# Replace this script with one of your own.

# Path where configurations are stored
cd /etc/bamt/

echo "Stopping the miner!"
mine stop
echo "Sleeping for three seconds"
sleep 3
echo "Changing the cgminer.conf file to x13!"
rm cgminer.conf
cp cgminer_x13.conf cgminer.conf
echo "Starting the miner!"
mine start
